In [1]:
import pandas as pd

In [2]:
j = pd.read_csv('jeopardy.csv',  on_bad_lines='skip')

In [3]:
j.head()

,QuestionID,Question,DocumentID,DocumentTitle,SentenceID,Sentence,Label
0,Q0,HOW AFRICAN AMERICANS WERE IMMIGRATED TO THE US,D0,African immigration to the United States,D0-0,African immigration to the United States refer...,0
1,Q0,HOW AFRICAN AMERICANS WERE IMMIGRATED TO THE US,D0,African immigration to the United States,D0-1,The term African in the scope of this article ...,0
2,Q0,HOW AFRICAN AMERICANS WERE IMMIGRATED TO THE US,D0,African immigration to the United States,D0-2,From the Immigration and Nationality Act of 19...,0
3,Q0,HOW AFRICAN AMERICANS WERE IMMIGRATED TO THE US,D0,African immigration to the United States,D0-3,African immigrants in the United States come f...,0
4,Q0,HOW AFRICAN AMERICANS WERE IMMIGRATED TO THE US,D0,African immigration to the United States,D0-4,"They include people from different national, l...",0

In [4]:
j.drop(columns=['QuestionID', 'Question', 'DocumentID', 'DocumentTitle', 'SentenceID', 'Label'], inplace = True)

In [5]:
j

                                               Sentence
0     African immigration to the United States refer...
1     The term African in the scope of this article ...
2     From the Immigration and Nationality Act of 19...
3     African immigrants in the United States come f...
4     They include people from different national, l...
...                                                 ...
4147  Junebug", by The B-52s\t0\nQ3015\twhat is the ...
4148           A broodmare is a mare used for breeding.
4149       A horse's female parent is known as its dam.
4150  An adult male horse is called a stallion , or,...
4151  Occasionally the term "horse" is used in a res...

[4152 rows x 1 columns]

In [6]:
j.shape

(4152, 1)

In [7]:
import numpy as np
text = np.array(j['Sentence'])
lst = []
for i in range(len(text)):
    texts = " ".join(text[i].split())
    lst.append(texts)

In [8]:
j['Sentence'] = lst

In [9]:
text = np.array(j['Sentence'])
lst = []
for i in range(len(text)):
    texts = text[i].strip()
    if texts[0].islower():
        lst.append(texts)
    else:
        continue

In [10]:
len(lst)

42

In [11]:
j.drop(j[j['Sentence'].isin(lst)].index, inplace=True)

In [12]:
j

                                               Sentence
0     African immigration to the United States refer...
1     The term African in the scope of this article ...
2     From the Immigration and Nationality Act of 19...
3     African immigrants in the United States come f...
4     They include people from different national, l...
...                                                 ...
4147  Junebug", by The B-52s 0 Q3015 what is the lif...
4148           A broodmare is a mare used for breeding.
4149       A horse's female parent is known as its dam.
4150  An adult male horse is called a stallion , or,...
4151  Occasionally the term "horse" is used in a res...

[4110 rows x 1 columns]

In [13]:
j.to_csv('cleaned-jeo.csv')