In [1]:
import os

cwd = os.getcwd()
onlyfiles = [os.path.join(cwd, f) for f in os.listdir(cwd) if 
os.path.isfile(os.path.join(cwd, f))]
#print(onlyfiles)
input_train_neg = []
for i in range(len(onlyfiles)):
    if onlyfiles[i][-4:] == ".txt":
        with open(onlyfiles[i], "r", encoding="utf8") as f:
            #lines = f.readlines()
            #contents = [x.strip() for x in f.readlines()]
            contents = ' '.join([str(elem.strip()) for elem in f.readlines()])
            # remove newline characters
            contents = contents.replace("\n", "")
            if not contents:
                print('FILE IS EMPTY')
            else:
                input_train_neg.append(contents)
    else:
        continue

In [2]:
len(input_train_neg)

900

In [3]:
import pandas as pd
df = pd.DataFrame()
df['File Input'] = input_train_neg

In [4]:
df

                                            File Input
0    plot : two teen couples go to a church party ,...
1    the happy bastard's quick movie review damn th...
2    it is movies like these that make a jaded movi...
3    " quest for camelot " is warner bros . ' first...
4    synopsis : a mentally unstable man undergoing ...
..                                                 ...
895  2 days in the valley is more or less a pulp fi...
896  what would inspire someone who cannot write or...
897  synopsis : a novelist struggling with his late...
898  okay , okay . maybe i wasn't in the mood to wa...
899  in life , eddie murphy and martin lawrence pla...

[900 rows x 1 columns]

In [5]:
import numpy as np
input_f = np.array(df['File Input'])
label = []
for i in range(len(input_f)):
    label.append(0)

In [6]:
df['Label'] = label

In [7]:
import string
#input_f[0].translate(str.maketrans('', '', string.punctuation))
input_f = np.array(df['File Input'])
punc = []
for i in range(len(input_f)):
    str1 = input_f[i].translate(str.maketrans('', '', string.punctuation))
    str2 = ' '.join(str1.split())
    punc.append(str2)

In [8]:
df['File Input'] = punc

In [9]:
df

                                            File Input  Label
0    plot two teen couples go to a church party dri...      0
1    the happy bastards quick movie review damn tha...      0
2    it is movies like these that make a jaded movi...      0
3    quest for camelot is warner bros first feature...      0
4    synopsis a mentally unstable man undergoing ps...      0
..                                                 ...    ...
895  2 days in the valley is more or less a pulp fi...      0
896  what would inspire someone who cannot write or...      0
897  synopsis a novelist struggling with his latest...      0
898  okay okay maybe i wasnt in the mood to watch a...      0
899  in life eddie murphy and martin lawrence play ...      0

[900 rows x 2 columns]

In [10]:
df.to_csv('neg-files-labels.csv')