In [1]:
import os

cwd = os.getcwd()
onlyfiles = [os.path.join(cwd, f) for f in os.listdir(cwd) if 
os.path.isfile(os.path.join(cwd, f))]
#print(onlyfiles)
input_train_pos = []
for i in range(len(onlyfiles)):
    if onlyfiles[i][-4:] == ".txt":
        with open(onlyfiles[i], "r", encoding="utf8") as f:
            #lines = f.readlines()
            #contents = [x.strip() for x in f.readlines()]
            contents = ' '.join([str(elem.strip()) for elem in f.readlines()])
            # remove newline characters
            contents = contents.replace("\n", "")
            if not contents:
                print('FILE IS EMPTY')
            else:
                input_train_pos.append(contents)
    else:
        continue

In [2]:
len(input_train_pos)

900

In [3]:
import pandas as pd
df = pd.DataFrame()
df['File Input'] = input_train_pos

In [4]:
import numpy as np
input_f = np.array(df['File Input'])
label = []
for i in range(len(input_f)):
    label.append(1)

In [5]:
df['Label'] = label

In [6]:
df

                                            File Input  Label
0    films adapted from comic books have had plenty...      1
1    every now and then a movie comes along from a ...      1
2    you've got mail works alot better than it dese...      1
3    " jaws " is a rare film that grabs your attent...      1
4    moviemaking is a lot like being the general ma...      1
..                                                 ...    ...
895  the soldiers of three kings have taken their c...      1
896  bill condon's " gods and monsters " is a fasci...      1
897  i must admit that i was a tad skeptical of " g...      1
898  a cinematic version of one of john irving's no...      1
899  the only historical figure that has been writt...      1

[900 rows x 2 columns]

In [7]:
import string
#input_f[0].translate(str.maketrans('', '', string.punctuation))
input_f = np.array(df['File Input'])
punc = []
for i in range(len(input_f)):
    str1 = input_f[i].translate(str.maketrans('', '', string.punctuation))
    str2 = ' '.join(str1.split())
    punc.append(str2)

In [8]:
df['File Input'] = punc

In [9]:
df

                                            File Input  Label
0    films adapted from comic books have had plenty...      1
1    every now and then a movie comes along from a ...      1
2    youve got mail works alot better than it deser...      1
3    jaws is a rare film that grabs your attention ...      1
4    moviemaking is a lot like being the general ma...      1
..                                                 ...    ...
895  the soldiers of three kings have taken their c...      1
896  bill condons gods and monsters is a fascinatin...      1
897  i must admit that i was a tad skeptical of goo...      1
898  a cinematic version of one of john irvings nov...      1
899  the only historical figure that has been writt...      1

[900 rows x 2 columns]

In [10]:
df.to_csv('pos-files-labels.csv')