In [1]:
import os

cwd = os.getcwd()
onlyfiles = [os.path.join(cwd, f) for f in os.listdir(cwd) if 
os.path.isfile(os.path.join(cwd, f))]
#print(onlyfiles)
input_train_pos = []
for i in range(len(onlyfiles)):
    if onlyfiles[i][-4:] == ".txt":
        with open(onlyfiles[i], "r", encoding="utf8") as f:
            #lines = f.readlines()
            #contents = [x.strip() for x in f.readlines()]
            contents = ' '.join([str(elem.strip()) for elem in f.readlines()])
            # remove newline characters
            contents = contents.replace("\n", "")
            if not contents:
                print('FILE IS EMPTY')
            else:
                input_train_pos.append(contents)
    else:
        continue

In [2]:
len(input_train_pos)

100

In [3]:
import pandas as pd
df = pd.DataFrame()
df['File Input'] = input_train_pos

In [4]:
import numpy as np
input_f = np.array(df['File Input'])
label = []
for i in range(len(input_f)):
    label.append(1)

In [5]:
df['Label'] = label

In [6]:
df

                                           File Input  Label
0   in 1912 , a ship set sail on her maiden voyage...      1
1   the start of this movie reminded me of parts f...      1
2   note : some may consider portions of the follo...      1
3   robert altman's cookie's fortune is that rare ...      1
4   well i'll be damned . . . the canadians can ma...      1
..                                                ...    ...
95  wow ! what a movie . it's everything a movie c...      1
96  richard gere can be a commanding actor , but h...      1
97  glory--starring matthew broderick , denzel was...      1
98  steven spielberg's second epic film on world w...      1
99  truman ( " true-man " ) burbank is the perfect...      1

[100 rows x 2 columns]

In [7]:
import string
input_f = np.array(df['File Input'])
punc = []
for i in range(len(input_f)):
    str1 = input_f[i].translate(str.maketrans('', '', string.punctuation))
    str2 = ' '.join(str1.split())
    punc.append(str2)

In [8]:
df['File Input'] = punc

In [9]:
df

                                           File Input  Label
0   in 1912 a ship set sail on her maiden voyage a...      1
1   the start of this movie reminded me of parts f...      1
2   note some may consider portions of the followi...      1
3   robert altmans cookies fortune is that rare mo...      1
4   well ill be damned the canadians can make a go...      1
..                                                ...    ...
95  wow what a movie its everything a movie can be...      1
96  richard gere can be a commanding actor but hes...      1
97  glorystarring matthew broderick denzel washing...      1
98  steven spielbergs second epic film on world wa...      1
99  truman trueman burbank is the perfect name for...      1

[100 rows x 2 columns]

In [10]:
df.to_csv('pos-test-files-labels.csv')